.delivery {
    padding: 400px 0 0;
    position: relative;

    &__content {
        background: #FFFFFF;
        box-shadow: 2px 5px 19px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 160px 20px 70px;
        position: relative;
        max-width: 1410px;
        margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: calc(100%);
            height: 500px;
            left: 0;
            background: url(../img/delivery_kitty.png) no-repeat center 100%, url(../img/loramur.svg) no-repeat center 310px / 80%;
        }
    }

    &-info {
        flex: 0 0 50%;
        padding: 10px 20px;

        &-box {
            display: flex;
            flex-wrap: wrap;
        }

        &__title {
            font-weight: bold;
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            i {
                color: $col-2;
                font-size: 30px;
                margin-right: 12px;
            }
        }

        &__text {
            max-width: 546px;
        }
    }


    &__buttons {
        text-align: center;
        padding: 20px 0 0;
    }

    &__btn {
        margin: 0 auto;
        max-width: 300px;
    }
}





@include br-p($xl) {}


@include br-p($lg) {}

@include br-p($md) {

    .delivery {
        padding-top: 240px;
    }

    .delivery__content {
        padding: 120px 20px 50px;

        &:before {
            height: 370px;
            background: url(../img/delivery_kitty_md.png) no-repeat center 100% / 330px, url(../img/loramur.svg) no-repeat center 246px / 80%;
        }
    }

    .delivery-info {
        padding: 10px;
    }

    .delivery-info__title i {
        margin-right: 8px;
    }

}

@include br-p($sm) {

    .delivery__content {
        padding: 95px 20px 50px;
    }

    .delivery-info {
        flex: 1 1 100%;
        padding: 20px 10px;
    }

    .delivery-info__text {
        max-width: 450px;
    }
}

@include br-p($xs) {

    .delivery {
        padding-top: 100px;
    }

    .delivery__content {
        padding: 95px 10px 50px;

        &:before {
            height: 370px;
            background: url(../img/delivery_kitty_xs.png) no-repeat center 100% / 190px, url(../img/loramur.svg) no-repeat center 296px / 80%;
        }
    }
}

@include br-p(419px) {}